<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.tencent.wxcloudrun.entity.dto.UserInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="admin_status" jdbcType="CHAR" property="adminStatus"/>
        <result column="vip_status" jdbcType="CHAR" property="vipStatus"/>
        <result column="vip_apply_status" jdbcType="CHAR" property="vipApplyStatus"/>
        <result column="is_del" jdbcType="CHAR" property="isDel"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, open_id, `name`, phone, admin_status, vip_status, vip_apply_status, is_del, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where id = #{id,jdbcType=BIGINT} and is_del = '0'
    </select>
    <select id="selectByOpenId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where open_id = #{openId,jdbcType=VARCHAR} and is_del = '0'
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        select count(1)
        from user_info
        where is_del = '0'
    </select>
    <select id="selectList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where is_del = '0'
        order by create_time DESC
        limit #{startIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>
    <select id="selectByPhone" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_info
        where phone = #{phone,jdbcType=VARCHAR} and is_del = '0'
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from user_info
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.tencent.wxcloudrun.entity.dto.UserInfo"
            useGeneratedKeys="true">
        insert into user_info (open_id, `name`, phone, admin_status, vip_apply_status,
                               vip_status, is_del, create_time,
                               update_time)
        values (#{openId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
                #{adminStatus,jdbcType=CHAR}, #{vipApplyStatus,jdbcType=CHAR},
                #{vipStatus,jdbcType=CHAR}, #{isDel,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.tencent.wxcloudrun.entity.dto.UserInfo"
            useGeneratedKeys="true">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="openId != null">
                open_id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="adminStatus != null">
                admin_status,
            </if>
            <if test="vipApplyStatus != null">
                vip_apply_status,
            </if>
            <if test="vipStatus != null">
                vip_status,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="openId != null">
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="adminStatus != null">
                #{adminStatus,jdbcType=CHAR},
            </if>
            <if test="vipApplyStatus != null">
                #{vipApplyStatus,jdbcType=CHAR},
            </if>
            <if test="vipStatus != null">
                #{vipStatus,jdbcType=CHAR},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tencent.wxcloudrun.entity.dto.UserInfo">
        update user_info
        <set>
            <if test="openId != null">
                open_id = #{openId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="adminStatus != null">
                admin_status = #{adminStatus,jdbcType=CHAR},
            </if>
            <if test="vipApplyStatus != null">
                vip_apply_status = #{vipApplyStatus,jdbcType=CHAR},
            </if>
            <if test="vipStatus != null">
                vip_status = #{vipStatus,jdbcType=CHAR},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tencent.wxcloudrun.entity.dto.UserInfo">
        update user_info
        set open_id          = #{openId,jdbcType=VARCHAR},
            `name`           = #{name,jdbcType=VARCHAR},
            phone            = #{phone,jdbcType=VARCHAR},
            admin_status     = #{adminStatus,jdbcType=CHAR},
            vip_apply_status = #{vipApplyStatus,jdbcType=CHAR},
            vip_status       = #{vipStatus,jdbcType=CHAR},
            is_del           = #{isDel,jdbcType=CHAR},
            create_time      = #{createTime,jdbcType=TIMESTAMP},
            update_time      = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>